.array-container{
    position: absolute ;
}

.array-bar{
    width: 6px;
    background-color: aqua;
    display: inline-block;
    margin: 0 1px;;
}

body {
    margin: 0;
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
  
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
  
li a.active {
    background-color: teal;
    color: white;
}
  
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
